@use "../../scss/" as *;

.country_info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  padding: 20px;
  color: white;
  @include tablet {
    grid-template-columns: 1fr;
  }
  img {
    width: 440px;
    height: 300px;
  }
  span {
    margin-left: 10px;
    font-weight: 300;
  }
  h1 {
    letter-spacing: 4px;
  }
  p {
    font-weight: 600;
    letter-spacing: 1px;
  }
  .borders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 5px;
    font-weight: 300;
    width: 100%;
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  .borders_item {
    box-shadow: 1px 1px 8px rgba(175, 238, 238, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-left: 5px;
  }
  .country_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .border_title {
    font-weight: 600;
    letter-spacing: 2px;
  }
}
