@use "../../scss/" as *;

.country {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
  margin-top: 20px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}
