@use "../../scss/" as *;

.search {
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding: 5px;
  border-radius: 20px;
  margin-top: 20px;
  width: 200px;
}
.search_container {
  position: relative;
 
}
.search:focus {
  border: 3px solid #555;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
}
.search_countries {
  position: absolute;
  left: 0;
  right: 0;
  height: 200px;
  background-color: #afeeee;
  overflow: scroll;
  top: 42px;
  width: 200px;
  padding: 15px;
}
